Source: pyxis
Section: python
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0), python-all
Standards-Version: 3.9.2
Homepage: https://github.com/ska-sa/pyxis
X-Python-Version: 2.7

Package: python-pyxis
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, python-pyfits, python-matplotlib,
 pyrap, python-numpy, meqtrees-timba
Description: Python Extensions for Interferometry Scripting
